<h2>{{title}}</h2>
<div class="col-1-4">
	<ul class="heroes">
		<li *ngFor="let hero of heroes" class="items" 
			[class.selected]="hero === selectedHero"
			(click)="onSelect(hero)">
			<span class="badge">{{hero.id}}</span> {{hero.name}}
		</li>
	</ul>
</div>

<div class="col-1-4">
	<hero-detail [hero]="selectedHero"></hero-detail>
</div>

<div *ngIf="selectedHero" class="col-1-4">
	<h2>{{selectedHero.name | uppercase}} is my hero</h2>
  	<button (click)="gotoDetail()">View Details</button>
</div>